# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
.vscode/
android/local.properties

# iOS (aunque compiles desde Windows)
ios/Flutter/Flutter.podspec
Generated.xcconfig
Flutter.framework/
Flutter.podspec

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Otros
*.iml
*.lock
*.class
*.jar
*.war
*.ear
*.pyc
*.swp
*.swo
